// ===================== CHECKBOXES ==================== //
.check-box {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.check-style {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #B3B3B3;
}

.check-box:checked {
    &+.check-style {
        border-color: $accent;

        &:before {
            content: '';
            width: 18px;
            height: 14px;
            background-image: url(../img/check.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.check-text,
.radio-text {
    padding-left: 49px;
    font-size: 16px;
    line-height: 19px;
    color: #000;

    @media(max-width: 991px) {
        font-size: 14px;
        line-height: 16px;
        padding-left: 40px;
    }

    @media(max-width: 575px) {
        font-size: 12px;
        line-height: 14px;
        padding-left: 36px;
    }
}

// ===================== RADIO ===================== //
.radio-box {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.radio-style {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #B3B3B3;

    &:before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
}

.radio-box:checked+.radio-style {
    background-color: $accent;
}